body {
  display: grid;
  margin: 2% 2% 7% 2%;
  background-color: #413C58;
  color: white;
  grid-gap: 50px;
}

.title-row {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 5% 5%;
  border-bottom: 4px solid white;
}

.title-text {
  padding-left: 10%;
  font-size: 150%;
}

#country-name {
  font-size: 300%;
}

#container2 {
  min-height: 400px;
  max-height: 1200px;
  display: inline-block;
  width: 90%;
  height: 100%;
  padding-left: 10%;
}

#container {
  min-width: 300px;
  max-width: 600px;
  min-height: 400px;
  max-height: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#bar {
  min-width: 300px;
  max-width: 900px;
  min-height: 400px;
  max-height: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#pie {
  display: inline-block;
  width: 90%;
  height: 100%;
  padding-left: 10%;
  display: none;
}

button {
  width: 80%;
  height: 60px;
  margin: 1% 5%;
  background-color: white;
  border: none;
  color: #413C58;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #F2DDA4;
  color: white;
}

.gdp-row, .gdp-capital {
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 2% 10%;
}

.revenue-row {
  display: grid;
  grid-template-columns: 65% 35%;
  margin: 2% 10%;
}

.gdp-text {
  border: 6px solid white;
  margin: 2%;
  padding: 15% 15%;
}

.top-scroller {
  position: fixed;
  bottom: 100px;
  right: 50px;
  font-size: 20px;
  padding: 10px;
  display: none;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .35);
  color: #fff;
  line-height: 40px;
}

.top-scroller:hover {
  background: rgba(0, 0, 0, .6);
}

a:link {
  color: pink;
}